<div class=register_layout>	
<h1>Login Form</h1>
<%= flash.now[:danger] %>
<%= form_tag(login_path, :method=>"post") do %>
<span class=register_<%= label_tag :e_mail %>
<%= text_field_tag :e_mail %>
	
<%= label_tag :password %>
<%= text_field_tag :password %>

	<%= submit_tag "Login" %>
<% end %>
</div>
<p>register <%= link_to 'new', users_path %>