<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div> 
  <div class="field">
      <%= f.label :password %><br />  
    <%= f.password_field :password%>
  <div class="field">
    <%= f.label :e_mail %><br />
    <%= f.text_field :e_mail %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.label :investor %><br />
    <%= f.select(:user_type, ["Investor", "Entrepreneur", "Both"]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
