    <h1>Listing users</h1>
    <%= form_tag(users_path, :method=>"get") do %>
    <%= text_field_tag :username %><%= submit_tag "search" %>
    <% end %>
<table>     
  <tr>
    <th>Name</th>S
    <th>Username</th>
    
    <th>e_mail</th>
    <th>Skype username</th>
    <th>Investor entrepreneur</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    
    <td><%= user.e_mail %></td>
    <td><%= user.skype_username %></td>
    <td><%= user.investor_entrepreneur %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>            

<br />

<%= params %>
<%= link_to 'New User', new_user_path %>
