<%= link_to 'Edit', edit_user_path(@user)  if session[:user] == @user%> 
<% if @user.user_type == 'Investor' %>
Show Investor Stuff
<hr/>
<% @user.investors.each do |investor| %>
<block><%= investor.name %> </block>
<%= investor.past_experience %>
<% end %>
<hr/>
<%= link_to 'Edit your profile/portfolio', @user.investors.empty? ? new_investor_path : edit_investor_path(@user.investors.first) %>

<% elsif @user.user_type == 'Entrepreneur' %>
Show entrepreneur Stuff
<%= link_to 'Enter your business', new_company_path %>
<% else %>
Show both
<% end %>
