<p id="notice"><%= notice %></p>
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>e_mail:</b>
  <%= @user.e_mail %>
</p>

<p>
  <b>Investor entrepreneur:</b>
  <%= @user.investor_entrepreneur %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'My Account', edit_user_path %>


