
<p>
  <b>Vision:</b>
  <%= @company.vision %>
</p>

<p>
  <b>Pitch video:</b>
  <%= @company.pitch_video %>
</p>

<p>
  <b>Stage:</b>
  <%= @company.stage %>
</p>

<p>
  <b>Members:</b>
  <%= @company.members %>
</p>

<p>
  <b>Date:</b>
  <%= @company.date %>
</p>
