<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vision %><br />
    <%= f.text_field :vision %>
  </div>
  <div class="field">
    <%= f.label :pitch_video %><br />
    <%= f.text_field :pitch_video %>
  </div>
  <div class="field">
    <%= f.label :stage %><br />
    <%= f.text_field :stage %>
  </div>
  <div class="field">
    <%= f.label :members %><br />
    <%= f.text_field :members %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
