<h1>Listing companies</h1>

<table>
  <tr>
    <th>Vision</th>
    <th>Pitch video</th>
    <th>Stage</th>
    <th>Members</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.vision %></td>
    <td><%= company.pitch_video %></td>
    <td><%= company.stage %></td>
    <td><%= company.members %></td>
    <td><%= company.date %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
