<p id="notice"><%= notice %></p>

<p>
  <b>Vision:</b>
  <%= @company.vision %>
</p>

<p>
  <b>Pitch video:</b>
  <%= @company.pitch_video %>
</p>

<p>
  <b>Stage:</b>
  <%= @company.stage %>
</p>

<p>
  <b>Members:</b>
  <%= @company.members %>
</p>

<p>
  <b>Date:</b>
  <%= @company.date %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
