<%= form_for(@investor) do |f| %>
  <% if @investor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@investor.errors.count, "error") %> prohibited this investor from being saved:</h2>

      <ul>
      <% @investor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :past_experience %><br />
    <%= f.text_field :past_experience %>
  </div>
  <div class="field">
    <%= f.label :businesses_investedin %><br />
    <%= f.text_field :businesses_investedin %>
  </div>
  <div class="field">
    <%= f.label :type_of_investor %><br />
    <%= f.text_field :type_of_investor %>
  </div>
  <div class="field">
    <%= f.label :income %><br />
    <%= f.number_field :income %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
