<h1>Listing investors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Past experience</th>
    <th>Businesses investedin</th>
    <th>Type of investor</th>
    <th>Income</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @investors.each do |investor| %>
  <tr>
    <td><%= investor.name %></td>
    <td><%= investor.past_experience %></td>
    <td><%= investor.businesses_investedin %></td>
    <td><%= investor.type_of_investor %></td>
    <td><%= investor.income %></td>
    <td><%= investor.user_id %></td>
    <td><%= link_to 'Show', investor %></td>
    <td><%= link_to 'Edit', edit_investor_path(investor) %></td>
    <td><%= link_to 'Destroy', investor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Investor', new_investor_path %>
