<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @investor.name %>
</p>

<p>
  <b>Past experience:</b>
  <%= @investor.past_experience %>
</p>

<p>
  <b>Businesses investedin:</b>
  <%= @investor.businesses_investedin %>
</p>

<p>
  <b>Type of investor:</b>
  <%= @investor.type_of_investor %>
</p>

<p>
  <b>Income:</b>
  <%= @investor.income %>
</p>


<%= link_to 'Edit', edit_investor_path(@investor) %> |
<%= link_to 'Back', investors_path %>
